
.vs/VSWorkspaceState.json
.vs/tasks.vs.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/Compilerbau_SoSe24/v16/ipch/AutoPCH/d183107795895394/MAIN.ipch
.vs/Compilerbau_SoSe24/v16/ipch/AutoPCH/9bc78a20cd426cfc/VEC.ipch
.vs/Compilerbau_SoSe24/v16/ipch/AutoPCH/759be18a0f77e9e8/CALCULATOR.ipch
.vs/Compilerbau_SoSe24/v16/ipch/AutoPCH/6d4b15417d50f40/SYNTREE.ipch
.vs/Compilerbau_SoSe24/v16/ipch/AutoPCH/29d24ab7e9b95922/HARNESS.ipch
.vs/Compilerbau_SoSe24/v16/ipch/AutoPCH/2959e2c7e1238592/PRINTER.ipch
.vs/Compilerbau_SoSe24/v16/ipch/AutoPCH/209865dafe2f889c/PARSE_TREE.ipch
.vs/Compilerbau_SoSe24/v16/Browse.VC.opendb
.vs/Compilerbau_SoSe24/v16/Browse.VC.db-wal
.vs/Compilerbau_SoSe24/v16/Browse.VC.db-shm
.vs/Compilerbau_SoSe24/v16/Browse.VC.db
.vs/Compilerbau_SoSe24/v16/.suo
